.inline {
    display: inline-block;
    width: 95vw;
}

ul{
    background-color: rgb(255, 255, 255);
    height: 4vh;
    width: 70vw;
    list-style: none;
    display:inline;  
    vertical-align: middle;
}

li{
    display: inline;
    padding: 50px;
    line-height: 0%;
    float: right;
    vertical-align: middle;
    font-size: 28px;
}


.logo {
    width:4vw;
    height: 6.5vh;
    float: left;
    display: inline;
    padding: 10px;
}
    
.heroSpc {
    background-color:#694583;
    height:52vh;
    width: 64vw;
    padding: 0%;
    display: inline-block;
    
    

} 

.heroImg {
    width: 30vw;
    height: 52vh;
    padding: 0%;
    vertical-align: top;
    float: inline-end
   }

.h1_1 {
    color: white;
    font-size: 48px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 48px;
    padding: 40px 15px;
    text-align: center;
    width: 65vw;

}

body{
    color: white;
    font-size: 26px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 26px;
    padding: 5px 15px;
    text-align: center;
    vertical-align: middle;

}

button {
    background-color: #44509C ;
    color: white;
    border: none;
    font-size: 26px;
    padding: 20px;
    border-style: outset;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 25px;
    
}

footer {
    position:relative;
    bottom: 0;
    width: 90vw;
    height: 4vh;
    background-color: #ffffff;
    padding: 25px;
}

.mySkills {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #44509C;
}

.mySkills_img_1 {
    width: 20vw;
    height: 20vw;
    
}

.mySkills_img_2 {
    width: 20vw;
    height: 20vw;
    
}

.mySkills_img_3 {
    width: 20vw;
    height: 20vw;
    padding: 0%;
}

.h1_2 {
    color: #44509C;
}

.flexContainer {
    display: flex;
    flex-direction: row;
}

.flexChild {
    width: 33%;
    padding: auto;

  
}

.text {
    border:#ffffff;
    padding: 30px;
    background-color:#44509C;
    color: #ffffff;
    border-radius: 25px;
    margin: 20px;
    box-shadow: 25px 40px #694583;
    height: auto;
    width: 25vw;
}

.myWork {
    
    background-color:#694583;
}

.workGrid {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0px 5%;
    grid-template-areas: 
    "item1"
    "item2"
    "item3"
    "item4";
}

.gif {
    border-radius: 25px;
    width: 30vw;
}

.h1_3 {
    color: white;
    font-size: 48px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 90px;
    padding: 40px 15px;
    text-align: center;
    text-decoration: underline;
}
h4 {
    text-decoration: underline;
}



@media only screen and (max-width:600){
    .flexContainer{ 
        display: flex;
        flex-direction: column;
       
    }
    .flexChild{
        width: 100%;
       
    }
}